<h1>
  Employee Name
</h1>
<div [hidden]="visible">
  <!-- interpolation -->
  {{name}}
</div>
<!-- property binding -->
<div [innerText]="age">

</div>

<!-- event binding -->
<button (click)="toggle()">Toggle</button>

<input type="text" [value]="name" (change)="changeName($event.target.value)">

<!-- <dnt-product-list [productList]="products" (selectProduct)="receiveFromChild($event)"></dnt-product-list> -->

<dnt-form-control-demo></dnt-form-control-demo>

<!-- <dnt-employee-onboarding></dnt-employee-onboarding> -->
