<!-- <h1>
  Hello World!
</h1> -->
<div class="container">
  <dnt-container>
    <dnt-employee></dnt-employee>
    <dnt-department></dnt-department>
    <h1>
      Welcome to Angular!
    </h1>
    <dnt-product></dnt-product>
  </dnt-container>
  <br>
  <button class="bnt btn-primary" (click)="addProduct()">
    Add Product
  </button>
  <dnt-todos></dnt-todos>

</div>
<!-- <dnt-product></dnt-product> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'admin'">
    <dnt-employee></dnt-employee>
    <dnt-department></dnt-department>
  </div>
  <div *ngSwitchCase="'user'">
    <dnt-employee></dnt-employee>
  </div>
  <div *ngSwitchDefault>
    This is default view
  </div>
</div> -->
