{{onBoardingForm.invalid}}

{{onBoardingForm.value | json}}

<button type="button" class="btn btn-primary" (click)="edit()">Edit</button>
<br>
<hr>
<form [formGroup]="onBoardingForm" (ngSubmit)="saveEmployeeData()">
  <div *ngIf="onBoardingForm.get('age')">
    <input class="form-control" type="text" formControlName="age" placeholder="Enter the age">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" formControlName="name" placeholder="Enter the name">
    <div *ngIf="onBoardingForm.get('name')?.errors?.required">
      Please enter the name!
    </div>
    <div *ngIf="onBoardingForm.get('name')?.errors?.minlength">
      Name should be more than 4 character!
    </div>
    {{onBoardingForm.get('name')?.errors?.minlength | json}}
  </div>
  <div class="form-group">
    <input class="form-control" type="text" formControlName="email" placeholder="Enter the email">
  </div>
  <div class="form-group">
    <input class="form-control" type="date" formControlName="dob" placeholder="Enter the dob">
  </div>
  <div formGroupName="address">
    <div class="form-group">
      <input class="form-control" type="text" formControlName="addrLine1" placeholder="Enter the address">
      <div *ngIf="onBoardingForm.get('address.addrLine1')?.errors?.required">
        Please enter the address Line1!
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="addrLine2" placeholder="Enter the address">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="city" placeholder="Enter the city">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="pin" placeholder="Enter the pin">
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="addExp()">Add Past Experience</button>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="removeAllExp()">Remove All Past Experience</button>
  </div>
  <div formArrayName="pastExp">
    <div *ngFor="let exp of pastExp.controls;let i=index">
      <div [formGroupName]="i">
        <div class="form-group">
          <input class="form-control" type="text" formControlName="orgName" placeholder="Enter the org name">
          <div *ngIf="onBoardingForm.get(['pastExp',i,'orgName'])?.errors?.required">
            Please enter the org name!
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="date" formControlName="fromDate" placeholder="Enter Start Date">
        </div>
        <div class="form-group">
          <input class="form-control" type="date" formControlName="toDate" placeholder="Enter end date">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" formControlName="role" placeholder="Enter your role">
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-danger" (click)="removeExp(i)">Remove Past Experience</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="onBoardingForm.invalid" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
